{{extend 'layout.html'}}

<div class="container">
	<div class="row">


		<div class="pg-opt pin">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<center>
							<h2 style="text-align: right;">Privacy Policy</h2>
						</center>
					</div>

				</div>
			</div>
		</div>
		<p>The "Web Site" www.bankruptcyreinvented.com is the website of
			Sharkskin Bankruptcy Software, LLC.</p>

		<center>Our postal address:</center>
		<center>922 New Road, #2</center>
		<center>Wilmington, DE 19805</center>

		<p>We, at www.bankruptcyreinvented.com of Sharkskin Bankruptcy
			Software, LLC (hereinafter, "SBS", "We", "Us", "Our"), respect your
			privacy and the confidentiality of your personal information
			(including email address). Our company's resources and entire staff
			are fully committed to safeguarding your personal data (including
			email address) by ensuring that the highest security and other
			precautionary measures are in place to protect your non-public
			information. That is why we do not share your information (including
			email address) with third parties, affiliates, or partners in ways
			other than disclosed in this privacy statement. We only collect,
			store and use your personal information (including email address) for
			defined purposes.</p>

		<p>We are committed to protecting your privacy and data. At any
			time, you may contact Us to request what information you have given
			us and request correction or deletion. Our goal is to ensure the
			highest levels of security and confidentiality.</p>

		<p>
			<b>Information Collected</b>
		</p>
		<p>We will only collect, store, use, and share your personal
			information (including email address) as it is defined by Our privacy
			statement and as regulated by state and federal laws. Information
			collected on the Web Site is stored by Us and, unless it is otherwise
			stated, is only used to complete orders, supply service and support,
			as well as notify you when new/enhanced products and services become
			available. We do not disclose your information (including email
			address) to third parties except as stated in this privacy statement.
		</p>

		<p>In order to use Our software, a user must first complete the
			registration form. During registration a user is required to give
			contact information (such as name and email address). We use this
			information to contact you about services on our site, to send a
			confirmation email, or to notify you if we have any trouble
			processing your order.</p>

		<p>
			<b>Clear Gifs (Web Beacons/Web Bugs)</b>
		</p>
		<p>We use clear gifs in our HTML-based emails to let us know the
			number of emails that have been opened by recipients. This allows us
			to gauge the effectiveness of certain communications and the
			effectiveness of our marketing campaigns. We do not tie the
			information gathered by clear gifs to our customers' personally
			identifiable information. If you would like to opt-out of these
			emails, please see "Changing and Deleting Personal Information"
			below.</p>

		<p>This site uses customer experience analytics service. The
			service helps us analyze how visitors use Our Web Site. We do not
			collect or transfer any personal identifiable information through the
			service. We may use advertising companies to serve advertisements for
			or on our Web site. These companies may employ cookies and action
			tags (also known as single pixel gifs or Web beacons) to measure
			advertising effectiveness. We may also enter into marketing alliances
			and joint marketing relationships. We relationship with these
			companies shall not represent our endorsement for the products or
			services these companies offer. We retain the right to sell
			personally identifiable information, including your name, address,
			telephone &amp; email address, as well as all other information
			supplied to this site to other vendors. Specifically, we do fully
			reserve the right to offer this information to attorneys and debt
			relief counselors, and any and all other related agencies for use in
			their practices and to obtain clients. YOU ARE AGREEING TO BE
			CONTACTED BY SAID ENTITIES BY REGISTERING AND BEING GOVERNED BY THIS
			POLICY.</p>

		<p>The Web Site may contain links to third party web sites. Each
			of these links shall be clearly identified. We do not direct or
			oversee the policies, procedures, or other practices for companies
			other than SBS. SBS does not endorse the products and services that
			are offered by third party companies. The presence of third party
			links within SBS are for convenience purposes only and should not be
			considered as representing an endorsement by SBS. Some of these third
			party sites may collect information about you or request sensitive,
			personal information from you. If accessing a third party site via a
			link, which originated from SBS you will be subject to the policies
			and procedures that have been established by the third party. We
			encourage you to review their privacy policies to learn more about
			what information is collected, how it is used, and how it is stored.</p>

		<p>SBS may provide third parties with links to SBS. Once you have
			been redirected to a SBS page, the terms and conditions of our site
			shall apply. We will retain your information for as long as your
			account is active or as needed to provide you services. We will
			retain and use your information as necessary to comply with our legal
			obligations, resolve disputes, and enforce our agreements.</p>

		<p>
			<b>Security Measures</b>
		</p>
		<p>Our primary concern is that your personal information is
			private and secure. At SBS we use the industry-standard Secure Socket
			Layers (SSL) protocol which provides data encryption, message
			integrity, and server authentication when your data is sent to us.
			When you see a small lock in the bottom right or left corner of your
			browser window, you know your data is being encrypted for
			transmission.</p>

		<p>We maintain physical, electronic, and procedural safeguards
			that comply with applicable law and federal standards. All data is
			stored on Amazon AWS or PythonAnywhere servers. Although we respect
			and honor your privacy preferences, SBS shall maintain and reserve
			the right to contact you (via email, phone, fax, mail, or otherwise)
			when it deems appropriate. In certain circumstances, we may use our
			Web site, newspapers, or other public means to post a notice.</p>

		<p>
			<b>Service, Support and Suggestions</b>
		</p>
		<p>We offer technical support and customer service to our
			customers. SBS does retain the right to use your suggestions and
			product enhancement ideas to improve the SBS sites and product line
			without obligation to you.</p>

		<p>
			<b>Affiliate Program</b>
		</p>
		<p>SBS offers an affiliate program to broaden its marketing reach.
			Affiliate sites may register with SBS to sell the SBS product line.
			All information collected from the affiliate (including email
			address) is used to apply proper credit to the affiliate's sales,
			contact the affiliate if products and offers change, and to make
			payment to the affiliate for their sales commissions.</p>

		<p>
			<b>Use of Log Files and Cookies</b>
		</p>
		<p></p>
		<p>Like most Web servers, SBS relies on log files. Log files
			include: Internet Protocol (IP) addresses, browser type, Internet
			Service Provider (ISP), number of page views, platform type, date and
			time stamps, as well as the number visitors to our Web site. This
			information is used by SBS to administer the site, analyze trends,
			track aggregated user movements, and gather broad demographic
			information for aggregated use only. Our Web site also uses tracking
			software which enables us to anonymously analyze trends occurring on
			our Web site. TaxACT.com employs the use of cookies. A cookie is a
			piece of data stored on the user's computer tied to information about
			the user. Usage of a cookie is in no way linked to any personally
			identifiable information (including email address) while on our site.
			We use both session ID cookies and persistent cookies. For the
			session ID cookie, once users close the browser, the cookie simply
			terminates. A persistent cookie is a small text file stored on the
			user's hard drive for an extended period of time. If users reject the
			cookie, they will not be able to access the Web Site.</p>

		<p>
			<b>General Disclosure of Aggregated Information</b>
		</p>
		<p>SBS may disclose aggregate information to other parties.</p>

		<p>
			<b>Changes to our Privacy Policy</b>
		</p>
		<p>If we decide to change our privacy policy, we will post those
			changes to this privacy statement, the homepage, and other places we
			deem appropriate so our users are always aware of what information we
			collect, how we use it, and under what circumstances, if any, we
			disclose it. If we merge with, or are acquired by another company,
			the resulting combined company will use the Personal Information you
			have provided as described in this policy. If we cease operation,
			your Personal Information may be transferred to and used by another
			company that offers similar or related products or services.</p>

		<p>
			<b>Disclaimer</b>
		</p>
		<p>Though we make every effort to preserve user privacy, we may
			need to disclose personal information when required by law wherein we
			have a good-faith belief that such action is necessary to comply with
			a current judicial proceeding, a court order or legal process served
			on our Web site.</p>

	</div>
</div>
