{{extend 'layout.html'}}

<div class="container">
	<div class="row">

		<div>
			<div>
				The &quot;Web Site&quot; <a
					href="http://www.bankruptcyreinvented.com" target="_blank">www.bankruptcyreinvented.com</a>
				is the website of Sharkskin Bankruptcy Software, LLC.
			</div>
			<div>
				<br>
			</div>
			<div>TERMS OF USE</div>
			<div>
				<br>
			</div>
			<div>This Terms of Use Agreement (&quot;Agreement&quot;) is a
				contract between you and collectively Sharkskin Bankruptcy Software,
				LLC and the Web Site (&quot;SBS&quot;, &quot;us&quot; or
				&quot;we&quot;), and you should carefully read this Agreement before
				using our Web Site. We are willing to provide you with access to our
				Web Site only on the condition that you accept all of the terms and
				conditions contained in this Agreement. By accessing or using our
				Web Site, you agree to be bound by this Agreement and all of its
				terms without change. If you are using our Web Site on behalf of a
				company or organization, such company or organization will also be
				considered a party to this Agreement. IF YOU DO NOT AGREE TO ALL OF
				THESE TERMS AND CONDITIONS, DO NOT ACCESS THE WEBSITE OR ANY
				SERVICES OR INFORMATION PROVIDED ON OR THROUGH THE WEBSITE.</div>
			<div>
				<br>
			</div>
			<div>If you are under the age of 13, you may not use this Web
				Site.</div>
			<div>
				<br>
			</div>
			<div>Your use of our Web Site is subject to the additional
				disclaimers and notices that may appear throughout the Web Site. If
				you use any of our products or services, you are subject to any
				applicable agreements (&quot;Supplemental Agreements&quot;) and any
				posted guidelines or rules applicable to such products or services.
				All such guidelines, or rules, are hereby incorporated by reference
				into this Agreement. Where a conflict exists between this Agreement
				and any of the Supplemental Agreements, the provisions of the
				applicable Supplemental Agreement shall govern.</div>
			<div>
				<br>
			</div>
			<div>Neither SBS nor its representatives are engaged in
				rendering legal services or other such advice. We are not providing
				investment advice through the Web Site, and the material on the Web
				Site should not be regarded as an offer to sell, or a solicitation
				of an offer to buy, any securities of SBS or its affiliates.</div>
			<div>
				<br>
			</div>
			<div>SBS and its representatives assume no responsibility for
				any consequence based on the information, services or other material
				on our Web Site. While we strive to keep the information on this Web
				Site accurate, complete and up-to-date, SBS and its representatives
				cannot guarantee, and will not be responsible for any damage or loss
				related to, the accuracy, completeness or timeliness of the
				information or services on the Web Site.</div>
			<div>
				<br>
			</div>
			<div>If at any time you are not happy with the Web Site or
				object to any content within the Web Site, your sole remedy is to
				cease using the Web Site.</div>
			<div>
				<br>
			</div>
			<div>PERSONAL AND NONCOMMERCIAL USE AND LICENSE</div>
			<div>
				<br>
			</div>
			<div>We may provide users with online bankruptcy preparation
				products and services and bankruptcy preparation information
				(&quot;services and information&quot;) for personal, non-commercial
				use. We grant you access to the Web Site during the term of this
				agreement solely to receive the services and information. These
				services and information may be available only in certain
				jurisdictions and are void where prohibited by law. Your eligibility
				for any of our particular products and services is subject to our
				final approval and acceptance.</div>
			<div>
				<br>
			</div>
			<div>Except as expressly provided otherwise in an applicable
				Supplemental Agreement, we grant you a personal, limited, revocable,
				non-transferable and non-exclusive license to display on your
				computer, print, download and use screen displayed text, audio
				clips, video clips and other such content that is made available to
				you on the Web Site, solely for your own non-commercial, personal
				purposes necessary to receive the services and information provided
				on the Web Site, provided that: (i) you do not (and do not allow any
				third party to) modify or create a derivative work of any such
				content; and (ii) you include with and display on each copy of such
				content the associated copyright notice. No other use is permitted.
				Without limiting the generality of the foregoing, you may not: (i)
				include such content in or with any product or service that you
				create or distribute; (ii) include such content on another Internet
				website; (iii) reproduce, duplicate, copy, sell, rent, resell or
				exploit for any commercial purposes any portion of the Web Site, use
				of the Web Site, or access to the Web Site; or (iv) establish
				hyperlinks to any page other than the home page of the Web Site or
				create any frame containing any portion of the Web Site, on any
				other website or text document with hyperlink capabilities. Further,
				you may not direct any other person to do any of the foregoing. You
				agree not to access the Web Site by any means other than through a
				commercially available web browser. You will not access or attempt
				to access password protected, secure or non-public areas of the
				website without our prior written permission. You will comply with
				all privacy laws.</div>
			<div>
				<br>
			</div>
			<div>USER RESPONSIBILITIES</div>
			<div>
				<br>
			</div>
			<div>In order to use the Web Site, you must obtain access to
				the Internet and pay any service fees associated with such access.
				System availability and access to the services and information
				available on the Web Site may be limited or unavailable for reasons
				which may include, without limitation, system performance,
				telecommunications failure, hardware failure or software failure. We
				make no representations, warranties or assurances as to the
				availability of the Web Site.</div>
			<div>
				<br>
			</div>
			<div>You are responsible for your use of your Internet browser,
				the Web Site, and the services and information provided on the Web
				Site. We are not responsible for deletion of data, timeliness of
				services, or the failure to store any of your data or
				personalization settings.</div>
			<div>
				<br>
			</div>
			<div>INTELLECTUAL PROPERTY</div>
			<div>
				<br>
			</div>
			<div>All content on the Web Site, including but not limited,
				text, graphics, logos, button icons, images, audio clips, trade
				names, trademarks, service marks, trade dress, digital downloads,
				data compilations, software, and the compilation of any of the
				foregoing, is our property the property of our licensors and is
				protected by United States and international patent, copyright, and
				trademark laws. The display and availability of the content on the
				Web Site does not convey or create any license or other rights in
				the content. Any unauthorized copying, reverse engineering,
				redistribution, reproduction, publication or modification of Web
				Site content by any person without our prior written authorization
				is strictly prohibited, may be a violation of federal or common law,
				trademark, patent and copyright laws and may subject such a violator
				to legal action. The use of content from the Web Site on any other
				website or networked computer environment is similarly prohibited.
				Requests for permission to reproduce or distribute materials found
				on the Web Site can be made by contacting us in writing. You are
				also strictly prohibited from creating works or materials that
				derive from or are based on the Web Site content or other materials
				contained in the Web Site including, without limitation, fonts,
				icons, link buttons, wallpaper, desktop themes and unlicensed
				merchandise. This prohibition applies regardless of whether the
				derivative materials are sold, bartered or given away.</div>
			<div>
				<br>
			</div>
			<div>YOUR ACCOUNT</div>
			<div>
				<br>
			</div>
			<div>There may be portions of the Web Site that require you to
				create a user account. You are responsible for maintaining the
				confidentiality of your account and password and for restricting
				access to your computer, and you agree to accept responsibility for
				all activities that occur under your account. You agree to
				immediately notify us of any unauthorized use of your password or
				account, or any other breach of security of which you are aware, and
				to ensure that you properly close out of your account at the end of
				each session. We may, in our sole discretion, terminate your
				password, account (or any part thereof) or use of the Web Site at
				any time and for any or no reason. SBS will not be liable to you or
				any third party for any termination of your access to the Web Site.
				If your status as a user of this Web Site is terminated, you will
				(i) stop using the Web Site and any information obtained from the
				Web Site, and (ii) destroy all copies of your account information,
				password and any information obtained from this Web Site.</div>
			<div>
				<br>
			</div>
			<div>You agree that any information you provide to us through
				the Web Site will be accurate, current and complete. If you provide
				any information that is untrue, inaccurate, not current or
				incomplete as of the date the information was provided, or we have
				reasonable grounds to suspect that such information is untrue,
				inaccurate, not current or incomplete, we have the right, without
				limitation, to suspend or terminate any of your accounts and to
				refuse any and all current or future use of the Web Site (or any
				portion thereof) and the services and information provided on the
				Web Site.</div>
			<div>
				<br>
			</div>
			<div>CONFIDENTIAL INFORMATION</div>
			<div>
				<br>
			</div>
			<div>You agree that you will not disclose our Confidential
				Information to any person or entity, other than as necessary to use
				the services and information provided on the Web Site. You will not
				use or permit the use of any Confidential Information except as
				necessary in connection with the services and information. You shall
				use at least the same degree of care in safeguarding the
				Confidential Information as you use in safeguarding your own
				confidential information, but in no event shall you use less than
				due diligence and care. &quot;Confidential Information&quot; means
				all information or material which: (i) is obtained from password
				protected portions of the Web Site or (ii) (A) is marked
				&quot;Confidential,&quot; &quot;Restricted,&quot; or other similar
				marking, (B) is known by the parties to be considered confidential,
				or (C) is or should be known or understood to be confidential or
				proprietary by an individual exercising reasonable judgment.</div>
			<div>
				<br>
			</div>
			<div>NO UNLAWFUL OR PROHIBITED USE</div>
			<div>
				<br>
			</div>
			<div>If you are under the age of 13, you may not use this Web
				Site.</div>
			<div>
				<br>
			</div>
			<div>As a condition of your use of this Web Site, you warrant
				to SBS that you will not use this Web Site for any purpose that is
				against the law or prohibited by these terms. If you violate any of
				these terms, your permission to use this Web Site automatically
				ends.</div>
			<div>
				<br>
			</div>
			<div>You may not without, our prior written permission, use any
				computer code, data mining software, &quot;robot,&quot;
				&quot;bot,&quot; &quot;spider,&quot; &quot;scraper&quot; or other
				automatic device, or program, algorithm or methodology having
				similar processes or functionality, or any manual process, to
				monitor or copy any of the web pages, data or content found on this
				Web Site or accessed through this Web Site. You may not republish
				SBS content or other content from this Web Site on another website
				or use in-line or other linking to display such content without our
				permission. You may not introduce viruses, spyware or other
				malicious code to this Web Site. You represent and warrant that you
				use frequently updated, commercially standard virus protection
				software to ensure that the system you use to access our Web Site is
				virus free.</div>
			<div>
				<br>
			</div>
			<div>DISCLAIMER OF WARRANTIES</div>
			<div>
				<br>
			</div>
			<div>Except as expressly provided otherwise in an applicable
				Supplemental Agreement, we disclaim any and all responsibility or
				liability for the timeliness, sequence, quality, accuracy, content,
				completeness, legality, reliability, operability or availability of
				information or material contained on the Web Site. The Web Site may
				contain inaccuracies or typographical errors. We disclaim any
				responsibility for the deletion, failure to store, misdelivery, or
				untimely delivery of any information or material in respect of the
				Web Site or the use thereof. Any communications sent to you via the
				Web Site or otherwise from us (including without limitation in the
				form of newsletters, electronic mail or via telephone), and the
				contents of the Web Site (including without limitation any financial
				market data and tax information) are provided for informational and
				educational purposes only and are not intended to provide legal,
				investment, tax or accounting advice and should not be relied upon
				in that regard. Your financial and legal situation may be unique and
				therefore you should independently consult a lawyer.</div>
			<div>
				<br>
			</div>
			<div>EXCEPT AS EXPRESSLY PROVIDED OTHERWISE HEREIN OR IN AN
				APPLICABLE SUPPLEMENTAL AGREEMENT, ALL SERVICES AND INFORMATION
				OFFERED ON THE WEBSITE ARE PROVIDED &quot;AS IS&quot; AND &quot;AS
				AVAILABLE&quot; WITH NO WARRANTIES WHATSOEVER. ALL EXPRESS, IMPLIED,
				AND STATUTORY WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE
				WARRANTIES OF MERCHANTABILITY, ACCURACY, FITNESS FOR A PARTICULAR
				PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS, ARE EXPRESSLY
				DISCLAIMED. WE AND OUR DATA PROVIDERS DISCLAIM ANY WARRANTIES FOR
				THE SECURITY, RELIABILITY, TIMELINESS, AND PERFORMANCE OF THE
				PRODUCTS AND SERVICES OFFERED ON THE WEBSITE OR RECEIVED THROUGH ANY
				LINKS PROVIDED ON THE WEBSITE, AS WELL AS FOR ANY INFORMATION OR
				ADVICE RECEIVED THROUGH THE WEBSITE OR THROUGH ANY LINKS PROVIDED ON
				THE WEBSITE. YOU UNDERSTAND AND AGREE THAT ANY MATERIAL DOWNLOADED
				OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICES AND
				INFORMATION IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU
				WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES OR CLAIMS, INCLUDING
				WITHOUT LIMITATION ANY DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF
				DATA, THAT RESULTS FROM DOWNLOADING OR OTHERWISE OBTAINING SUCH
				MATERIAL.</div>
			<div>
				<br>
			</div>
			<div>Some states do not allow the exclusion of implied
				warranties, so these exclusions may not apply to you.</div>
			<div>
				<br>
			</div>
			<div>LIMITATION OF LIABILITY</div>
			<div>
				<br>
			</div>
			<div>EXCEPT AS EXPRESSLY PROVIDED OTHERWISE HEREIN OR IN AN
				APPLICABLE SUPPLEMENTAL AGREEMENT, IN NO EVENT SHALL WE OR ANY OF
				OUR DATA PROVIDERS OR ANYONE ELSE INVOLVED IN CREATING, PRODUCING,
				DELIVERING OR MANAGING THE CONTENT OR OPERATIONS OF THE WEBSITE
				(COLLECTIVELY THE &quot;WEBSITE PROVIDERS&quot;), BE LIABLE TO YOU
				OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL,
				PUNITIVE OR CONSEQUENTIAL DAMAGES (INCLUDING WITHOUT LIMITATION ANY
				LOST REVENUES, LOST PROFITS, LOST OPPORTUNITIES, LOSS OF PROSPECTIVE
				ECONOMIC ADVANTAGE) ARISING OUT OF OR IN CONNECTION WITH THE USE OR
				PERFORMANCE OF THE WEBSITE, ANY COMMUNICATIONS SENT TO YOU VIA THE
				WEBSITE OR OTHERWISE FROM US (INCLUDING WITHOUT LIMITATION IN THE
				FORM OF ELECTRONIC MAIL OR VIA TELEPHONE), OR INFORMATION AVAILABLE
				FROM THE WEBSITE, EVEN IF ANY ONE OF OR ALL OF THE WEBSITE PROVIDERS
				IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME STATES DO NOT
				ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL
				DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO
				YOU. IN NO EVENT WILL OUR MAXIMUM LIABILITY TO YOU EXCEED THE AMOUNT
				YOU PAID TO US FOR THE SUBJECT SERVICES OR $100, WHICHEVER IS
				GREATER.</div>
			<div>
				<br>
			</div>
			<div>LINKS TO THIRD PARTY SITES</div>
			<div>
				<br>
			</div>
			<div>This Web Site may contain hyperlinks to websites operated
				by parties other than SBS or its affiliates. Such hyperlinks are
				provided for your reference only. We do not control such websites
				and are not responsible for their content. If we post hyperlinks to
				other websites, this does not mean that we endorse the material on
				such websites or associate ourselves with their operators. Your
				access to and use of such websites, including information, material,
				products and services on such website, is solely at your own risk.
				Furthermore, because our privacy policy is applicable only when you
				are on our Web Site, once linked to another website, you should read
				that site’s privacy policy before disclosing any personal
				information. Where we are offering our own content on or through
				third party sites (whether by linking, framing or otherwise), your
				use or display of that content shall be subject to this Agreement
				unless a specific Supplemental Agreement is applicable to the use or
				display of that content.</div>
			<div>
				<br>
			</div>
			<div>TRANSACTIONS WITH THIRD PARTIES</div>
			<div>
				<br>
			</div>
			<div>Your correspondence or business dealings with, or
				participation in promotions of, advertisers or third parties found
				on or throughout the Web Site, including without limitation with
				respect to the payment and delivery of related products or services
				and any other terms, conditions, warranties or representations
				associated with such dealings, are solely between you and such third
				parties and are not binding on us. You agree that we are not
				responsible or liable for any actions, losses, damages, liabilities,
				claims, judgments, costs or expenses of any nature or kind
				(collectively, &quot;Claims&quot;) incurred as the result of any
				such dealings or as the result of the presence of such third parties
				on the Web Site, and you agree to indemnify us from and against any
				Claims incurred as the result of any such dealings.</div>
			<div>
				<br>
			</div>
			<div>LINKS TO OUR WEBSITE</div>
			<div>
				<br>
			</div>
			<div>We grant you a personal, limited, revocable,
				nontransferable and nonexclusive right to create a hyperlink to the
				home page of the Web Site so long as (i) the link or your linking
				website does not portray us or any of our services or information in
				a false, misleading, derogatory, or otherwise offensive matter; (ii)
				your linking website complies with all applicable law and does not
				otherwise violate this Agreement or the rights of others; and (iii)
				your website has, maintains and follows a privacy policy no less
				protective of user data than SBS’s Privacy Policy. You may not use
				any of our logos or other proprietary graphic or trademarks as part
				of the link without our express written permission. We may revoke
				this license at any time, with or without cause, in which case you
				agree to immediately remove such hyperlink. You may not link to any
				page other than the home page of this Web Site. Any link to our Web
				Site should be a full forward link that passes the client browser to
				our home page without barriers. The &quot;back&quot; button should
				return the visitor to original site if the visitor wishes to back
				out.</div>
			<div>
				<br>
			</div>
			<div>USER CONTENT/E-MAIL DISCUSSION LISTS, INTERACTIVE AREAS</div>
			<div>
				<br>
			</div>
			<div>We may offer you the opportunity to contribute your ideas,
				comments, questions, feedback and other communications to or from
				the Web Site (collectively, the &quot;User Content&quot;) in other
				blogs, message boards, chat rooms, e-mail and other features of the
				Web Site (&quot;User Areas&quot;) that may be offered from time to
				time and may be operated by us or by a third party on our behalf.
				You shall not (nor cause any third party to) use the Web Site or
				information provided through the Web Site to perform any illegal
				activities (including without limitation defaming, abusing,
				harassing, stalking, threatening or otherwise violating the legal
				rights, such as rights of privacy, of others) or immoral activities
				or any of the following types of activities, without limitation:</div>
			<div>
				<br>
			</div>
			<div>Disseminating libelous, harmful, vulgar, pornographic,
				obscene or otherwise objectionable material</div>
			<div>Containing nudity, violence of offensive subject matter,
				or are deemed exploitive in any way</div>
			<div>Promoting racism, prejudice, bigotry, hatred, harassment
				or physical harm of any kind against any individual, group or
				individual</div>
			<div>Promoting illegal activities or conduct that is abusive,
				threatening, obscene, defamatory or libelous; or promote any
				criminal activity or enterprise or provide instructional information
				about illegal activities, such as making or buying illegal weapons
				or violating someone&#39;s privacy</div>
			<div>Using any computer code, data mining software,
				&quot;robot,&quot; &quot;bot,&quot; &quot;spider,&quot;
				&quot;scraper&quot; or other automatic device, or program, algorithm
				or methodology having similar processes or functionality, or any
				manual process, to monitor or copy any of the Web pages, data or
				content found on the Web Site or accessed through the Web Site</div>
			<div>Transmitting information that infringes any patent,
				trademark, trade secret, copyright or other proprietary rights of
				any party</div>
			<div>Transmitting any material that contains software viruses,
				trojan horses, worms, time bombs, cancelbots, or any other computer
				code, files, or programs which may interrupt, destroy or limit the
				functionality of any computer software or hardware or
				telecommunications equipment</div>
			<div>Impersonating anyone or any entity, or falsely stating or
				otherwise misrepresenting your affiliation with a person or entity</div>
			<div>Advertising or posting any commercial content</div>
			<div>Interfering with or disrupting the Web Site</div>
			<div>Disrupting the activities or enjoyment of the Web Site for
				other users</div>
			<div>Collecting, or storing personal data about other users</div>
			<div>Further, you agree that all User Content you provide will
				be on-topic, relevant and will not include profanity or any other
				disruptive or disrespectful behavior. The User Areas are not the
				appropriate channel to express individual concerns or specific
				customer support issues. Such concerns and issues should be
				addressed to the online customer support pages of the Web Site.</div>
			<div>
				<br>
			</div>
			<div>You agree to evaluate and assume all risks associated with
				the use of User Content, including without limitation any risk
				relating to any reliance on the accuracy, completeness, or
				usefulness of User Content. We assume no responsibility for User
				Content or for the use of any User Area.</div>
			<div>
				<br>
			</div>
			<div>You agree to abide by all applicable local, state and
				federal laws and regulations and are solely responsible for all acts
				or omissions that occur under your account or password, including
				without limitation any User Content you create or upload.</div>
			<div>
				<br>
			</div>
			<div>You acknowledge that User Content is not endorsed by SBS
				and such user content should not be considered to have been
				reviewed, screened or approved by SBS. You should exercise
				discretion before relying on information contained in user content.</div>
			<div>
				<br>
			</div>
			<div>We may, in our sole discretion, remove any User Content
				from a User Area at any time and for any or no reason. SBS will not
				be liable to you or any third party for any deletion of any User
				Content on the Web Site.</div>
			<div>
				<br>
			</div>
			<div>You acknowledge that we may preserve and disclose User
				Content if required to do so by law or we believe in good faith that
				such preservation or disclosure is reasonably necessary to comply
				with legal process, enforce this Agreement, respond to a claim that
				User Content violates any third party&#39;s rights, or protect the
				right, property or personal safety of SBS, any users of the Web
				Site, and the public.</div>
			<div>
				<br>
			</div>
			<div>You also acknowledge that the technical processing and
				transmission of the Web Site, including without limitation User
				Content, may involve transmissions over various networks and changes
				to conform and adapt to technical requirements of connecting
				networks or devices.</div>
			<div>
				<br>
			</div>
			<div>We will not be liable for the collection, use or
				disclosure of any personal information by, in or through a User Area
				offered by a third party. In such circumstances, you must refer to
				any terms of service and privacy statement of the third party
				offering the User Area.</div>
			<div>
				<br>
			</div>
			<div>INDEMNIFICATION</div>
			<div>
				<br>
			</div>
			<div>You agree to indemnify us and hold us harmless from and
				against any Claims arising out of or relating to: (i) User Content
				you submit, post to or transmit through the Web Site; and (ii) your
				violation of any rights of any other person in connection with the
				Web Site, information you post on the Web Site, information you
				receive from the Web Site, or the services or information provided
				on the Web Site.</div>
			<div>
				<br>
			</div>
			<div>CHANGES TO WEBSITE</div>
			<div>
				<br>
			</div>
			<div>We may make improvements or changes in the information,
				services, products, and other materials on this Web Site or
				terminate this Web Site at any time for any or no reason and without
				notice.</div>
			<div>
				<br>
			</div>
			<div>NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT
				INFRINGEMENT</div>
			<div>
				<br>
			</div>
			<div>If you believe that any material contained on the Web Site
				infringes your copyright or other intellectual property rights, you
				should notify SBS of your copyright infringement claim in accordance
				with the following procedure. SBS will process notices of alleged
				infringement which it receives and will take appropriate action as
				required by the Digital Millennium Copyright Act (DMCA) and other
				applicable intellectual property laws.</div>
			<div>
				<br>
			</div>
			<div>Pursuant to the DMCA, all notifications of claimed
				copyright infringement on the Web Site should be sent ONLY to our
				Designated Agent:</div>
			<div>
				<br>
			</div>
			<div>Name of Agent Designated to Receive Notification of
				Claimed Infringement:</div>
			<div>
				<br>
			</div>
			<div>Corporate Counsel-Copyright</div>
			<div>Billion Law</div>
			<div>C/O Mark M. Billion</div>
			<div>922 New Road, #2</div>
			<div>Wilmington, DE 19805</div>
			<div>
				<a href="tel:302.428.9400" value="+13024289400" target="_blank">302.428.9400</a>
			</div>
			<div>
				<br>
			</div>
			<div>
				<br>
			</div>
			<div>Under the DMCA, the notification of claimed infringement
				must include the following:</div>
			<div>
				<br>
			</div>
			<div>An electronic or physical signature of the owner or of the
				person authorized to act on behalf of the owner of the copyright
				interest</div>
			<div>Identification of the copyrighted work (or works) that you
				claim has been infringed</div>
			<div>A description of the material that you claim is
				infringing, and the location where the original or an authorized
				copy of the copyrighted work exists (for example, the URL of the
				page of the web site where it is lawfully posted; the name, edition
				and pages of a book from which an excerpt was copied, etc.)</div>
			<div>A clear description of where the infringing material is
				located on our Web Site, including as applicable its URL, so that we
				can locate the material</div>
			<div>Your name, address, telephone number, and e-mail address</div>
			<div>A statement that you have a good-faith belief that the
				disputed use is not authorized by the copyright owner, its agent, or
				the law</div>
			<div>A statement by you, made under penalty of perjury, that
				the above information in your notice is accurate and that you are
				the copyright owner or authorized to act on the copyright
				owner&#39;s behalf</div>
			<div>NOTE: THE DESIGNATED AGENT IS PROVIDED SOLELY FOR
				NOTIFYING US THAT YOUR COPYRIGHTED MATERIAL MAY HAVE BEEN INFRINGED.
				DO NOT SEND ANY INQUIRIES UNRELATED TO COPYRIGHT INFRINGEMENT (e.g.,
				REQUESTS FOR TECHNICAL ASSISTANCE OR CUSTOMER SERVICE, REPORTS OF
				E-MAIL ABUSE, etc.) TO THE DESIGNATED AGENT AS YOU WILL NOT RECEIVE
				A RESPONSE. WE CAUTION YOU THAT UNDER FEDERAL LAW, IF YOU KNOWINGLY
				MISREPRESENT THAT ONLINE MATERIAL IS INFRINGING, YOU MAY BE SUBJECT
				TO HEAVY CIVIL PENALTIES. THESE INCLUDE MONETARY DAMAGES, COURT
				COSTS, AND ATTORNEYS FEES INCURRED BY US, BY ANY COPYRIGHT OWNER, OR
				BY ANY COPYRIGHT OWNER&#39;S LICENSEE THAT IS INJURED AS A RESULT OF
				OUR RELYING UPON YOUR MISREPRESENTATION. YOU MAY ALSO BE SUBJECT TO
				CRIMINAL PROSECUTION FOR PERJURY.</div>
			<div>
				<br>
			</div>
			<div>We will, in appropriate circumstances, terminate repeat
				infringers. If you believe that an account holder or subscriber is a
				repeat infringer, please follow the instructions above to contact
				SBS and provide information sufficient for us to verify that the
				account holder or subscriber is a repeat infringer.</div>
			<div>
				<br>
			</div>
			<div>MISCELLANEOUS</div>
			<div>
				<br>
			</div>
			<div>Governing Law. This Agreement shall be governed by the
				laws of the State of Delaware, without regard to conflicts of law
				provisions. Any legal action or proceeding between SBS and you
				related to this Agreement will be brought exclusively in a federal
				or state court of competent jurisdiction sitting in the State of
				Delaware, County of New Castle.</div>
			<div>Entire Agreement. This Agreement, along with any
				Supplemental Agreements, is the entire and exclusive agreement
				between the parties, and it supersedes all previous communications,
				representations or agreements, either oral or written, between them
				with respect to this subject matter. No representations or
				statements of any kind made by us, which are not included in this
				Agreement, shall be binding on us.</div>
			<div>Amendments. You may not modify or amend this Agreement in
				whole or in part without the prior written consent of one of our
				authorized representatives. We may replace or amend this Agreement
				from time to time by posting new terms of service to this Web Site.
				Please check the Terms of Use periodically for changes. Your
				subsequent use of the Web Site, or any content, products, services
				or materials provided through the Web Site, will be subject in all
				respects to the terms of service in force at the time of such
				subsequent use.</div>
			<div>Waiver. No waiver of any provision herein shall be valid
				unless in writing and signed by both our authorized representative
				and you. Our failure to insist upon or enforce strict performance of
				any provision of this Agreement or any right shall not be construed
				as a waiver of any such provision or right.</div>
			<div>Severability. If any provision of this Agreement is
				determined to be illegal or unenforceable, such provision shall be
				automatically reformed and construed so as to be valid, operative
				and enforceable to the maximum extent permitted by law or equity
				while preserving its original intent. The invalidity of any part of
				this Agreement shall not render invalid the remainder of this
				Agreement.</div>
			<div>Headings. The headings contained herein are for
				convenience only and shall have no legal or interpretive effect.</div>
			<div>Limitation. You agree that regardless of any statute or
				law to the contrary, any claim or cause of action arising out of or
				related to use of this Web Site or this Agreement must be filed
				within one (1) year after such claim or cause of action arose or be
				forever barred.</div>
			<div>Other. We may assign our rights and duties under this
				Agreement to any party at any time without notice to you.</div>
			<div>
				All consequential damages are limited to the amount paid to
				Bankruptcy Anywhere as is permitted by 6 Del. C. § 2-719.
				<div>ATTORNEY ADVERTISING MATERIAL. Delaware responsible
					attorney: Mark M. Billion, 922 New Road, Wilmington, DE 19805.</div>
			</div>

		</div>
	</div>