{{extend 'layout.html'}}
<section class="slice bg-3">
	<div class="w-section inverse">
		<div class="container">
			<h2>How to Withdraw?</h2>
			<div class="row">
				<div style="max-width: 704px;">
					<p>Withdrawal is automative after invoice is paid (with status
						CLOSED or TRUE) If You used simple registration by cryptocurrency
						address. No fee, no tax included but only bonuses: your clients
						pay to you +0.3% up to invoice price! This tax included in invoice
						rating for your clients.</p>
					<p>Then You may convert bitcoins to a local currency through
						"bitcoin debit card".</p>
					<p>
						Also You may pay bitcoins and other cryptocurrencies for various
						services through the portal <a href=http://7pay.in target="_blank"><b>7Pay.in</b></a>
					</p>
				</div>
			</div>
			<div class="row">
				<div style="max-width: 704px;">
					<h2>Bitcoin debit cards</h2>
					<p>We recomended:</p>
					<a
						href="https://www.e-coin.io/?ref=4b3a38cb437f4317a1e9ee5782fea22d"
						target="_blank"><img src={{=URL( 'static','images/logos/e-coin-s.png')}} /></a><br />
					<p>The virtual debit card, which you can get instantly just for
						$3 allows you to use bitcoins to pay for online purchases
						worldwide. You can also ink it to apps on your mobile phone,
						effectively paying with bitcoins for any goods or services. You
						simply get the card details via e-mail and can start using it
						straight away.</p>
					<a
						href="https://www.e-coin.io/?ref=4b3a38cb437f4317a1e9ee5782fea22d"
						target="_blank"><img src={{=URL(
						'static','images/logos/e-coin-card.png')}} width=300 /></a><br />
					<p>As of now, for those customers who do not use bitcoin (yet!)
						it is also possible to order virtual cards pre-loaded with small
						amounts of USD, EUR or GBP, which allows to link them to PayPal
						and load them via PayPal.</p>
					<a
						href="https://www.e-coin.io/?ref=4b3a38cb437f4317a1e9ee5782fea22d"
						target="_blank"><img src={{=URL(
						'static','images/logos/e-coin-fiat.png')}} width=300 /></a><br />
				</div>
			</div>
		</div>
	</div>
</section>
