<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<div class="col">
					<h4>Contact us</h4>
					<ul>
						<li>{{=H4(A(T('Support'), _href=URL('default','support')))}}</li>
						<li><h4>
								<a
									href="https://bitcointalk.org/index.php?topic=935948.msg10260429"
									target="_blank">forum BitcoinTalk</a>
							</h4></li>
					</ul>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="col">
					<h4>About us</h4>
					<p>
						We help people to organize accepting crypto-currencies on their
						sites. <br>
						<br>
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col">
					{{=H4(T('Partners:'))}}
					<div class="row">
						<a href=http://wagers.win / target="_blank"> <img src={{=URL(
							'bets','static','images/logo_bets.png')}} width=200 alt=""></a>
					</div>
					<p></p>
					<div class="row">
						<a
							href="https://www.e-coin.io/?ref=4b3a38cb437f4317a1e9ee5782fea22d"
							target="_blank"> <img src={{=URL(
							'static','images/logos/e-coin.png')}} width=280 alt=""></a>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="row">
					<h4>Powered By</h4>
					<a href="http://www.web2py.com/" target="_blank"><img
						src={{=URL( 'static','images/logos/web2py-200.png')}} alt="Web2Py"
						style="width: 120px"></a>
					<h3>
						<a
							href="bitcoin:1BruAQTEm6Qxzvx8B1gsQumoqsdHcdUeZg?label=LITE.cash+donate"
							class="btn btn-one btn-lg"> <img
							src="{{=URL('static','images/currs/BTC.png')}}" width=40></img>
							{{=T('Donate Us')}}
						</a>
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<h4></h4>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-9 copyright">
				<a href=http://ipo-polza.ru / target="_blank"> <img src={{=URL(
					'static','images/logos/ipolza-3bit.png')}} width=120 alt=""></a>
				2014 © POLZA, Innovative Consumer Cooperative. <small
					class="addr_txt">Volgorgadskiy pr-t 26A, off.12, Moscow,
					119027, Russia</small> {{#=A(T('Terms of use'),
				_href=URL('default','tos'))}} {{#=A(T('Privacy policy'),
				_href=URL('default','priv_policy'))}}
			</div>
			<div class="col-sm-3 footer-logo"></div>
		</div>
		<BR>
		<BR>
	</div>
</footer>
