{{extend 'layout.html'}} {{=H4(T('Подключение Вашего
бизнеса, магазина, сайта к системе
международных платежей'))}} {{=T('Большое
количество новых клиентов придут к Вам
в магазин, если Вы подключите биллинг
криптовалют - ведь они любят платить
криптовалютами!')}}
<br>
<br>
{{=T('Вы будете получать платежи со всего
мира легко! Ведь для платежей
криптовалютой не требуются ни каких
разрешающих документов. Международные
платежи криптовалютой проходят за
несколько минут, а комиссия за перевод
составляет доли процента. При этом,
банкиры не могут повлиять на Ваши
платежи ни коим образом - ни
заблокировать Ваш счет, ни перевести
"по ошибке" - ведь Ваши криптоденьги
принаждлежат только Вам и хранятся
только на Вашем компьютере, а не в базе
некоего банка.')}}
<br>
<br>
{{=T('Наш сервис является платежным
мерчантом - мы принимаем автоматически
платежи Ваших клиентов, уведомляем Вас
и Ваш сайт удобным для Вас образом,
высылаем ежедневно остатки
криптомонет на Ваши кошельки и
предоставляем удобный и простой API для
взимодействия Вашего сайта с системой
международных платежей
криптовалютами.')}}
<br>
<br>

{{=H4(T('Загрузить модуль (биллинг,
мерчант) приема платежей
криптовалютами:'))}} {{=H4(A(T('Список
плагинов для электронной коммерции'),
_href=URL('default','plugins')))}}

<br>
{{=H5(T('Задайте данные своего магазина:'))}}
{{=form}} {{=H3(T('Заявки на подключение:'))}}
{{=ll}}
