{{extend 'layout.html'}}
{{=H5(T('Что такое криптовалюта?'))}}
{{=A(T('Краткое описание криптовалюты'), _href='http://7Pay.in/ipay/default/crypto', _target='blank')}}.
{{=H5(T('Что означают статусы у платежей?'))}}
{{=T(' NEW - платеж увиден сервисом; SOFT - платеж распространился по сети; HARD - платеж получил подтверждение от сети; TRUE - платеж получил полное подтверждение и зачтен сервисом.')}}
{{=H5(T('Что означают статусы у счетов?'))}}
{{=T(' NEW - счёт создан, платежей еще не поступало; FILL - платежи пошли, но еще не вся сумма счета оплачена; SOFT - счёт полностью оплачен, но хотя бы один из платежей еще имеет статус SOFT; HARD - счёт полностью оплачен, но хотя бы один из платежей еще имеет статус HARD; CLOSED - счёт полностью оплачен, все платежи имеют статус TRUE;  EXPIRED - счет просрочен, все платежи по нему возвращены обратно; INVALID - такого счета нет (либо еще не создан).')}}
{{=H5(T('Можно ли оплачивать один счет несколькими платежами?'))}}
{{=T(' Да можно.')}}
{{=H5(T('Можно ли оплачивать один счет разными валютами?'))}}
{{=T(' Да можно.')}}
{{=H5(T('Что будет если перевести больше криптовалюты, чем требуется для оплаты счета?'))}}
{{=T(' Сервис вернет обратно лишнюю криптовалюту за вычетом тройной комиссии сети.')}}
{{=H5(T('Что будет если счет частично оплачен, а время его жизни закончилось?'))}}
{{=T(' Сервис вернет обратно всю криптовалюту, полученную по данному счету в момент изменения его статуса на EXPIRED (за вычетом тройной комиссии сети).')}}
{{=H5(T('Почему курс, на который был создан заказ оплаты изменился?'))}}
{{=T(' Три причины:')}}
<br>{{=T(' - потому что время "жизни" заказа на курс только 20 минут, после чего заказ становится недействительным. ')}}
<br>{{=T(' - потому что Вы создали перевод криптовалюты намного позже создания заказа на курс. Время для ожидания создания перевода криптовалюты всего 5 минут.')}}
<br>{{=T(' - потому что Вы перевели большую сумму криптовалюты, чем было заявлено в заказе.')}}
{{=H5(T('Что будет если перевести криптовалюту на полученный ранее адрес?'))}}
{{=T(' Если стоимость счета равна нулю, такой счет является продолженным с бесконечным временем жизни. Получив платеж за такой счет, система выполнит платеж с заданными ранее параметрами, но по текущему курсу конвертации криптовалюты. Это очень удобно - не нужно заходить каждый раз на наш сайт - просто в своем кошельке криптовалюты выберите адрес по метке, которую Вы создали для этого платежа, и переведите на него нужное количество криптовалюты. Например, для оплаты мобильного телефона наш сервис выдал Вам адрес 1K4dw.... - когда будуте делать на него перевод, добавьте метку (label) к этому адресу, например такую: "cryptoPay.in - мой сотовый". Тогда следующий раз Вам не понадобится заходить на наш сайт - просто найдите в своем кошельке криптовалюты адрес по этой метке и сделайте на него перевод. ')}}
{{=H5(T('Почему иногда кнопки с названиями криптовалют неактивны?'))}}
{{=T(' Потому что связь с биржей для получения курса обмена криптовалют иногда обрывается. И если данные о курсе устаревают, то обмен приостанавливается. Просто подождите примерно 3 минуты, когда курсы обмена будут получены вновь и обновите страницу.')}}
